.about{
    min-height: 100vh;
    /* max-height: 100%; */
    /* background-color: ; */
}

.oho{
    font-size: 1.5rem;
    color: white;
    padding: 2rem;
}

p{

        font-size: 1.5rem;
        color: white;
        /* padding: 2rem; */
    
}

h2{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.744);
    margin-left: 2rem;
}

.cardcont{
    display: flex;
    justify-content: space-between;
}