#nav{
    height: 4rem;
    width: 100vw;
    max-width: 100%;
    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;
}

p{
    margin-left: 2rem;
    color: white;
}

