h1{
    
    margin: 2rem;
    color: white;
}



#packages-parent{
    /* background-color: #677A4E; */
    margin-top: 95vh;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
}

.cities{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}





@media (max-width:600px) {

    #packages-parent{
        /* background-color: #677A4E; */
        padding: 2rem;
        margin-top: 95vh;
        height: 180vh;
        /* max-height: 100%; */
        width: 100vw;
        max-width: 100%;
        /* background-color: pink; */
    }

    h1{
    
        text-align: center;
        color: white;
    }
    }



