.Pbody{
 background-color: black;
}

h1{
    
    margin: 2rem;
    color: white;
}
#seelink{
    color:aliceblue;
    text-decoration: none;
}
#btn-profile{
    top:9%;
    right: 2%;
    position: absolute;
    border-radius: 12%;
    line-height: 30px;
}