

.Detailcard{
    margin-top: 4rem;
    width: 18rem;
    height: 7rem;
    background-color: black;
    border-radius: 0.5rem;
    display: flex;
    /* flex-direction: row;*/
    justify-content: space-evenly; 
    box-shadow: white 0px 0px 26.5px 1.5px;
    position: relative;
    top: -2.5rem;
}
.trips{
    margin-top: 1.5rem;
    margin-right: 1rem;
    width: 4rem;
    height: 3rem;
    border-radius: 0.5rem;
    box-shadow: white 0px 0px 0px 2px, white 0px 4px 6px -1px, white 0px 1px 0px inset;
    background-color: #E5FFE1;
   
}
.spend{
    margin-top: 1.5rem;
    margin-right: 1rem;
    width: 4rem;
    height: 3rem;
    background-color: #CBE6FF;
    border-radius: 0.5rem;
    box-shadow: white 0px 0px 0px 2px, white 0px 4px 6px -1px, white 0px 1px 0px inset;
  
    
   }
.saved{
    margin-top: 1.5rem;
    width: 4rem;
    height: 3rem;
    background-color:  #EBCAF0;
    box-shadow: white 0px 0px 0px 2px, white 0px 4px 6px -1px, white 0px 1px 0px inset;
    border-radius: 0.5rem;
  
   
}
.cardsamaan{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main{
    color: black;
    font-size: 1.5rem;
}

.subhead{
    font-size: 1rem;
}